* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hidden {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Google Sans Flex", sans-serif;

  min-height: 100vh;
  background-color: #240046;
  color: aliceblue;
}

.start-screen,
.quiz-screen,
.end-screen {
  text-align: center;
  padding: 2rem;
  max-width: 600px;
}

h1 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

p {
  margin: 1rem 0;
  font-size: 1.2rem;
}

button {
  padding: 0.7rem 1.5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: inherit;
}

#start-btn {
  background-color: #5a189a;
  color: white;
  margin-top: 1rem;
  font-weight: 600;
}

#start-btn:hover {
  background-color: #7209b7;
  transition: 0.2s;
}

#try-again {
  background-color: #5a189a;
  color: white;
  margin-top: 2rem;
}

#try-again:hover {
  background-color: #7209b7;
  transition: 0.2s;
}

.answer-btns-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem 0;
}

.answer-btn {
  background-color: #3c096c;
  color: white;
  padding: 1.5rem;
}

.answer-btn:hover {
  background-color: #5a189a;
}

#question-p {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 2rem 0;
}
