* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hidden {
  display: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Google Sans Flex", sans-serif;

    min-height: 100vh;
    background-color: #240046;
    color: aliceblue;
}